
body {
    margin: 0;
    padding: 0;   
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #ff9100;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #ffc400;
}

header {
    display: flex;
    flex-direction: inline;
    text-align: center;
}

nav {
    width: 100%;
}

#titulo {
    font-size: large;
    background-color: #ff9100;
    color: black;
    padding: 10px;
    margin: 0;
}