body {
    margin: 0;
    padding: 0;
    background-color: #525252
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #333;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111;
}

#produtos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

#produtos-container p {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;

}

.produtos {
    background: #3a3a3a;
    border: 1px solid #4a4a4a;
    border-radius: 10px;
    padding: 15px;
    width: calc(20% - 200px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: whitesmoke;
}

.produtos img {
    width: 100%;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
    color: white;
}
.telaDeInformacoes {
    text-align: center;
    color: white;
    visibility: visible;
    width: 20%;
    height: 100vh;
    background-color: darkslategray;
    position: fixed;
    top: 45px;
    right: 0;
    border-left: 3px solid #333;
}
.imagem{
    width: 300px;
}
.info{
    background: none;
}