body {
    margin: 0;
    padding: 0;
    background-image: url(../../images/v642-nap-37-fastfood.jpg);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #333;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111;
}

footer {
    display: flex;
    justify-content: center;
    color: white;
}

.telaDeInformacoes {
    z-index: 50;
    text-align: center;
    color: white;
    visibility: visible;
    width: 20%;
    height: 100vh;
    background: #333;
    position: fixed;
    top: 0;
    right: 0;
    border-left: 3px solid #333;
}

.imagem {
    width: 250px;
    align-items: center;
}

.card {
    margin: 20px;
    font-size: 20px;
    font-weight: 900;
    align-items: center;
    background: #ffa600;
    border: 1px solid #4a4a4a;
    border-radius: 10px;
    padding: 7px 7px 15px 7px;
    width: calc(20%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: black;
}

.imagem img {
    width: 100%;
}