/* @keyframes banner {
    0% {
        background-image: url('images/Burger1_upscayl_1x_digital-art-4x.png')
    }

    50% {
        background-image: url('images/2026-02-04_16-03_upscayl_1x_digital-art-4x.png');
    }

    100% {
        background-image: url('images/2026-02-04_16-04_upscayl_1x_digital-art-4x.png');
    }
} */

body {
    margin: 0;
    padding: 0;
    background-image: url(./images/ComidasBG.jpg);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #ff9100;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #ffc400;
}

header {
    display: flex;
    flex-direction: inline;
    text-align: center;
}

nav {
    width: 100%;
}

#titulo {
    font-size: large;
    background-color: #ff9100;
    color: black;
    padding: 10px;
    margin: 0;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    overflow: hidden;
}

.banner img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

footer {
    text-align: center;
    padding: 15px;
    background: #ff9100;
    font-size: 0.9rem;
    color: black;

}

footer a {
    text-decoration: none;
    color: black;
}

#produtos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

#produtos-container p {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;

}

.produtos {
    background: #ffa600;
    border: 1px solid #4a4a4a;
    border-radius: 10px;
    padding: 15px;
    width: calc(18% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: black;
}

.produtos img {
    width: 100%;
    border-radius: 10px;
}

/*========================================================================*/

#produtos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

#produtos-container p {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;

}

.produtos {
    background: #ffa600;
    border: 1px solid #4a4a4a;
    border-radius: 10px;
    padding: 15px;
    width: calc(18% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: black;
}

.produtos img {
    width: 100%;
    border-radius: 10px;
}

/*========================================================================*/

.form {
  --input-bg: #FFf;
 /*  background of input */
  --padding: 1.5em;
  --rotate: 80deg;
 /*  rotation degree of input*/
  --gap: 2em;
  /*  gap of items in input */
  --icon-change-color: #15A986;
 /*  when rotating changed icon color */
  --height: 40px;
 /*  height */
  width: 25%;
  padding-inline-end: 1em;
 /*  change this for padding in the end of input */
  background: var(--input-bg);
  position: relative;
  border-radius: 4px;
}

.form label {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--height);
}

.form input {
  width: 100%;
  padding-inline-start: calc(var(--padding) + var(--gap));
  outline: none;
  background: none;
  border: 0;
}
/* style for both icons -- search,close */
.form svg {
  /* display: block; */
  color: #111;
  transition: 0.3s cubic-bezier(.4,0,.2,1);
  position: absolute;
  height: 15px;
}
/* search icon */
.icon {
  position: absolute;
  left: var(--padding);
  transition: 0.3s cubic-bezier(.4,0,.2,1);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* arrow-icon*/
.swap-off {
  transform: rotate(-80deg);
  opacity: 0;
  visibility: hidden;
}
/* close button */
.close-btn {
  /* removing default bg of button */
  background: none;
  border: none;
  right: calc(var(--padding) - var(--gap));
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
  padding: 0.1em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.3s;
  opacity: 0;
  transform: scale(0);
  visibility: hidden;
}

.form input:focus ~ .icon {
  transform: rotate(var(--rotate)) scale(1.3);
}

.form input:focus ~ .icon .swap-off {
  opacity: 1;
  transform: rotate(-80deg);
  visibility: visible;
  color: var(--icon-change-color);
}

.form input:focus ~ .icon .swap-on {
  opacity: 0;
  visibility: visible;
}

.form input:valid ~ .icon {
  transform: scale(1.3) rotate(var(--rotate))
}

.form input:valid ~ .icon .swap-off {
  opacity: 1;
  visibility: visible;
  color: var(--icon-change-color);
}

.form input:valid ~ .icon .swap-on {
  opacity: 0;
  visibility: visible;
}

.form input:valid ~ .close-btn {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: 0s;
}
